@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  box-sizing: border-box;
  /* outline: 1px dashed red;
  outline-offset: -1px; */
}

html, body {
    height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#E9F2F5, #CEE0E7);
}

button {
    cursor: pointer;
}

.card {
  display: flex;
  background-color: white;
  flex-direction: column;
  font-family: 'Roboto';
  width: 25rem;
  box-shadow: 0 0 5rem grey;
  border-radius: .5rem;
  overflow: hidden;
  padding: 1rem 1rem 2rem;
}

.title {
    color: #F71963;
    font-family: 'Roboto';
    font-weight: 700;
}

.todoList {
    border-radius: .25rem;
}

.todo {
    display: flex;
    align-items: center;
    padding: .3rem;
    background-color: #f9f9f9;
}

.todo:hover {
    filter: brightness(95%);
}

.todo:first-child {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.todo:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.todo:nth-child(even){
    background-color: #eee;
}

.description {
    width: 100%;
    margin-left: .5rem;
}

.noTodo {
    font-size: 1rem;
    font-weight: 400;
    margin-left: .5rem;
}

form {
    display: flex;
    /* align-items: center; */
    margin-top: 1.25rem;
}

.newTodoInputText {
    width: 100%;
    font-size: .85rem;
    font-weight: 400;
    border-radius: .25rem;
    resize: none;
    border: .2rem solid #ddd;
    padding: .4rem .6rem;
}

.newTodoInputSubmit {
    font-weight: 700;
    font-size: 1rem;
    border: 0 solid white;
}

.newTodoButton {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
}